/*
# ==================================================================== #
# TITLE                                                                #
# Antimicrobial Resistance (AMR) Analysis                              #
#                                                                      #
# SOURCE                                                               #
# https://gitlab.com/msberends/AMR                                     #
#                                                                      #
# LICENCE                                                              #
# (c) 2018-2020 Berends MS, Luz CF et al.                              #
#                                                                      #
# This R package is free software; you can freely use and distribute   #
# it for both personal and commercial purposes under the terms of the  #
# GNU General Public License version 2.0 (GNU GPL-2), as published by  #
# the Free Software Foundation.                                        #
#                                                                      #
# We created this package for both routine data analysis and academic  #
# research and it was publicly released in the hope that it will be    #
# useful, but it comes WITHOUT ANY WARRANTY OR LIABILITY.              #
# Visit our website for more info: https://msberends.gitlab.io/AMR.    #
# ==================================================================== #
*/

/* R for Data Science (r4ds) */
#r4ds a {
  display: inline-flex;
  align-items: center;
  text-align: right;
}
#r4ds img {
  margin-left: 10px;
}

/* class for footer */
.footer_logo {
  float: right;
  height: 43px;
  margin-top: 2px;
}
.partner_logo {
  width: 19%;
  min-width: 125px;
}
.countries_map {
  float: left; 
  padding: 0 10px 10px 0;
  max-width: 35%;
}
@media only screen and (max-width: 992px) {
  .footer_logo {
    float: left;
    margin-top: 15px;
  }
}
footer p {
  display: inline-block;
}

/* Supports icons for brand using font-awesome */
.fab {
  font-family: "Font Awesome 5 Brands" !important;
}

/* Remove the 'Read more on our website!' part from the manual pages */
#read-more-on-our-website-,
#read-more-on-our-website- + p,
li a[href="#read-more-on-our-website-"] {
  display: none;
}

/* make colour darker and better readable for links */
code a, code a:hover, code a:focus,
pre a, pre a:hover, pre a:focus,
a, a:hover, a:focus {
  /* do not set colour to element without href attribute, they aren't links! */
  color: black;
}
a[href], a[href]:hover, a[href]:focus,
code a[href], code a[href]:hover, code a[href]:focus,
a[href] code, a[href] code:hover, a[href] code:focus,
pre a[href], pre a[href]:hover, pre a[href]:focus,
a code[href], a code[href]:hover, a code[href]:focus,
a pre[href], a pre[href]:hover, a pre[href]:focus {
  /* adjusted colour for all real links; having href attribute */
  color: #128f76;
}
.ot, .dv {
  /* numbers and TRUE/FALSE */
  color: slategray;
}

/* syntax font */
pre, code {
  font-family: 'Courier New', monospace;
  font-size: 100% !important;
  font-weight: bold;
  background-color: #f4f4f4;
}
pre {
  font-size: 90% !important;
}
kbd {
  display: inline-block;
  padding: 0 4px;
  box-shadow: 1px 1px 1px #2c3e50;
  margin: 2px;
  font-size: small;
  vertical-align: text-bottom;
  color: #2c3e50;
  background: #eeeeee;
  font-weight: bold;
}

li, p {
  line-height: 1.5;
}
li p {
  margin-top: 10.5px;
}

/* slightly smaller blockquote */
blockquote {
  font-size: 98%;
}

/* 2nd list in navigation should be smaller */
#tocnav li li {
  font-size: 90%;
  margin-left: 5px;
}

/* new <help> element with dotted underline */
help {
  border-bottom: 1px dotted;
  cursor: help;
}

/* replace 'Developers' with 'Authors' */
.developers h2 {
  display: none;
}
.developers:before {
  content: 'Authors';
  font-size: 1.5em;
}

/* Beautify manually added 'Last updated' text of NEWS */
div[id^=last-updated] h2 {
  padding-top: 10px;
}

.version.label {
  display: none;
}

/* Date of vignettes */
.template-article .date:before {
  content: 'Last updated: ';
}
.template-article .date {
  font-size: 14px;
  padding-top: 40px;
}

/* more space between icon and text in top menu */
#navbar .fa,
#navbar .fab,
#navbar .fal,
#navbar .far,
#navbar .fas {
  margin-right: 5px;
}
#navbar li.dropdown li .fa {
  font-size: 120%;
  width: 24px;
  text-align: center;
}

/* tables, make them look like scientific ones */
.table {
  font-size: 90%;
}
.table td {
  padding: 4px !important;
}
thead {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
thead ~ tbody {
  /* only when it has a header */
  border-bottom: 2px solid black;
}
thead th {
  text-align: inherit; 
}
table a:not(.btn), .table a:not(.btn) {
  text-decoration: inherit;
}
table a:not(.btn):hover, .table a:not(.btn):hover {
  text-decoration: underline;
}

/* text below header in manual overview */
.template-reference-index h2 ~ p {
  font-size: 15px;
}
.template-reference-topic h2 {
  font-size: 24px;
}
.template-reference-topic h3 {
  font-size: 18px;
}
.template-reference-topic h4 {
  font-size: 15px;
}

/* logos on index page */
.logo_img {
  display: inline-block;
}
.logo_txt {
  display: inline;
  font-size: 125%;
  vertical-align: middle;
  color: black;
  font-weight: bold;
}
